# Gradle
.gradle
build/
!build/libs/
bin/

# IDE
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.vscode/

# Java
*.class

# Log
*.log

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Local config
local.properties

# Personal Scripts
convertify/
